        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
        body {
            font-family: 'Inter', sans-serif;
            background-color: #fce7f3; /* Soft pink background */
            color: #4a5568; /* Dark gray text */
            
    background-image: url();
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background image fixed while the user scrolls */
    background-repeat: no-repeat; /* Prevents the image from repeating */
 }
        .accordion-arrow {
            transition: transform 0.3s ease-in-out;
        }
        .accordion-arrow.rotated {
            transform: rotate(180deg);
        }
        /* Style for the active nav link */
        .nav-link.active {
            font-weight: 700;
            color: #d946ef; /* Purple-500 */
        }
        #sos-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
        #sos-btn:hover {
            background-color: #db2777; /* Darker pink on hover */
        }
